# decoretor:

In [4]:
def sample(mark):
    def additionmarks():
        print("my name is afreen")
        mark()
    return additionmarks                                # adding new functionality without modifying its structure
@sample
def student():
    print(("here my actuall function"))
student()

my name is afreen
here my actuall function

In [1]:
def func1(mark):
    def substraction():
        print("i am taking lacture in M.H.K classess")
        mark()
    return substraction
@func1
def name():
    print("i am a student of MCC")
name()

i am taking lacture in M.H.K classess
i am a student of MCC

In [10]:
def secondfunc(name):
    def  inner(a,b,c):
        print("i am teacher of",c)
        name(a,b)
    return inner
@secondfunc
def firstfunc(a,b):
    print("i am", a,b)
firstfunc("afreen", "teacher", "M.H.K clasess")

i am teacher of M.H.K clasess
i am afreen teacher

In [4]:
def sample(mark):
    def addition():
        print("my school name is G.I,U.H.S")
        mark()  
    return  addition
@sample
def school():
    print(("here my actuall function"))
school()

my school name is G.I,U.H.S
here my actuall function

In [12]:
def secondfun(func):
    def inner (a,b,c):
        print("my school name is G.I,U.H.S")
        func(a,b)
    return inner
@secondfun
def actualfunc(a,b):
    print("my name is",a,b)
actualfunc("manihar", "afreen", "G.I,U.H.S")

my school name is G.I,U.H.S
my name is manihar afreen

# Generator:

In [1]:
def square():
    i=1
    while True:
        yield i*i
        i = i + 1                              # used yield instance of return 
for num in square():                           # and generate the the value
    if num > 100:
        break
    print(num)

SyntaxError: invalid syntax (276045580.py, line 4)

In [18]:
def table(x):
    for i in a:
        if i%2 == 0:
            b.append("even")
        else:
            b.append("Odd")
        
a = [2,4,6,3,8,9,10] 
b = []
table(a)
print(b)

['even', 'even', 'even', 'Odd', 'even', 'Odd', 'even']

# Iterator:

In [19]:
a =iter([1,2,3,4])
print(next(a))
print(next(a))                       
print(next(a))
print(next(a))

1
2
3
4

In [20]:
a = iter("Afreen")
print(next(a))
print(next(a))
print(next(a))
print(next(a))                              # witch used iter() and next() fuction
print(next(a))
print(next(a))

A
f
r
e
e
n

# Iterable:

In [26]:
a = [2,4,6,8,10,12,14,16]
for i in a:                            # object witch iterated in iteration
    print(i)

2
4
6
8
10
12
14
16

# "MRO":   METHOD   RESOLVATION ORDER :

# WITCH  IS USESS OF INHERITANCE,

In [24]:
class A:
    def process(self):
        print(" In class A")

class B(A):
    def process(self):
        print(" In class B")

class C(B, A):
    def process(self):
        print(" In class C")
class D(C, B, A):
    def process(self):
        print(" In class D")
# Creating object of C class
C1 = C()
C1.process()
print(C.mro())

 In class C
[<class '__main__.C'>, <class '__main__.B'>, <class '__main__.A'>, <class 'object'>]

# "MODULE":

In [57]:
import math

x = dir(math)                         #dir to detaced the all function in math module
print(x)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

# 1) MATH MODULE:

In [40]:
import math

x = math.ceil(64.02)                 # last chat ki value lega

print(x)

65

In [41]:
import math

x = math.floor(64.09)             # first zameen ki value lega

print(x)

64

In [44]:
import math

x = math.pi                                        # const value

print(x)

3.141592653589793

In [46]:
x = min(5, 10, 25)                     # kam se kam 
y = max(5, 10, 25)                                     # zyada se zyada

print(x)
print(y)

5
25

In [47]:
x = abs(-7.25)
                                             # it will give absolute value 
print(x)

7.25

In [22]:
import math

x = math.sqrt(6)
print(x)

2.449489742783178

# 2) DATE TIME:

A date in Python is not a data type of its own,
but we can import a module named datetime to work with dates as date objects

In [49]:
import datetime

x = datetime.datetime.now()
print(x)

2022-09-17 12:00:04.825132

In [50]:
import datetime

x = datetime.datetime.now()

print(x.year)                                                      # only give year
print(x.strftime("%A"))                 # %A is only give day

2022
Saturday

In [52]:
import datetime

x = datetime.datetime(2022, 9, 17)

print(x)

2022-09-17 00:00:00

In [55]:
import datetime

x = datetime.datetime(2018, 2, 1)

print(x.strftime("%B"))               #disply name of the months

February

In [56]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%Y"))                                   # YEAE NAME

2018

# 3) RANDOM :

In [68]:
import random
 
x =random.randint(2,8)                      # in between 2,8 and 2 and 8 is includive 
print(x)

4

In [72]:
import random

x = random.randrange(3,9)        # it will give 3,4,,6,7,8 but not 9 last wala exclusive   
print(x)

5

In [83]:
import random
a = ["Afreen", "Zikra", "Misbah"]
x = random.choice(a)            # koi bhi ek elem mile ga 
print(x)

Misbah

In [84]:
import random
x = random.random()
print(x)                       # it will give range between 0 to 1

0.6131903034164822

In [98]:
import random
a = ["apple", "banana", "mango"]
random.shuffle(a)                  # shuffle the list             
print(a)

['banana', 'mango', 'apple']

In [109]:
import random
x = random.uniform(2,5)            # koi bhi float number dega in between 2,4                                    # last wala excludive h
print(x)

2.820935421383291

# RE MODULE (Reggular Expression):