# List questions

# 1.To create 5 different list using list comprehension method.

In [12]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango", "pineapple", "greps"]

newlist = [x for x in fruits if "e" in x]
  
print(newlist)

['apple', 'cherry', 'pineapple', 'greps']

In [7]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlists = [x for x in fruits if x != "kiwi"]

print(newlists)

['apple', 'banana', 'cherry', 'mango']

In [9]:
lists = [x for x in range(11)]
print(lists)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
list = [x for x in range(10) if x < 7]
print(list)

[0, 1, 2, 3, 4, 5, 6]

In [17]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

list =[x.upper() for x in fruits]
 
print(list)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [18]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]
print((newlist))

['hello', 'hello', 'hello', 'hello', 'hello']

In [19]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
      
list =  [x if x != "banana" else "orange" for x in fruits]
print(list)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

# 2.Create list , add random 10 numbers in list and print largest number
# of list.

In [23]:
a = [3,4,5,6,87,42]
print(max(a))
a = [3,4,5,6,87,42]
print(min(a))

87
3

In [9]:
mylist = [12,43,56,87,98,45,13]
print("largest number is:",max(mylist))

largest number is: 98

# without using max function:

In [7]:
a = [67,89,43,23,12,98,25]
b = 0
for i in a:
    if i>b:
        b=i
print(b)

98

# universal code using function:

In [8]:
def max_num(a):
    b = 0
    for i in a:
        if i>b:
            b=i
    return b
x = [3,48,65,89,80,32,57]
max_num(x)

89

# 2.Create list , add random 10 numbers in list and print smallest number
# of list.

In [10]:
mylist = [12,43,56,87,98,45,13]
print("minimum number in given list:", min(mylist))

minimum number in given list: 12

# without using min function:

In [11]:
a = [12,43,56,87,98,45,13]
b = 12
for i in a:                                        # HAMESHA PEHELE HI VALUE DENA HAI LIST KI
    if i<b:
        b=i
print(b)

12

# code using function:

In [20]:
def min_num(a):
    b = 12
    for i in a:
        if i<b:
            b=i
    return b        
x = [12,43,56,87,8,45,13]
min_num(x)

8

# find minimum number of a given list universal function:

In [85]:
a = [32,12,25,37,75,87,10]
b = a[0]
for i in a:
    if i<b:
        b = i
print(b)

10

# using fuction:

In [88]:
def min_fuc(x):
    b = a[0]
    for i in x:
        if i<b:
            b=i
    return b
a = [32,43,56,78,12,9]
min_fuc(a)
z = [32,78,12]
min_fuc(z)

12

# 3.To check whether a given number is present in list or not?

In [26]:
flower = ['rose', 'lily', 'sunflower', 'jesmin', 'mogra', 'lavender']
print('rose' in flower)

True

# 4.To demonstrate any 10 methods of List

In [1]:
grocery = ["harpic", "vim bar", "deodrant", "bhindi", "dal", "rice", "rice", "rice"]
num = ["19","62","38","44","32","98", "12", "87"] 
print(grocery)
print(len(grocery))
num.sort()
print(num)
num.reverse()
print(num)
print(max(num))
print(min(num))
num.append(78)
print(num)
num.insert(2, 92)
print(num)
num.pop()
print(num)
num.remove("98")
print(num)
print(grocery.count("rice"))
num.copy()
print(num)
print(grocery[5])  #Acess the element.
join=grocery+num
print(join)
grocery.clear()
print(grocery)
num.remove("12")
print(num)

['harpic', 'vim bar', 'deodrant', 'bhindi', 'dal', 'rice', 'rice', 'rice']
8
['12', '19', '32', '38', '44', '62', '87', '98']
['98', '87', '62', '44', '38', '32', '19', '12']
98
12
['98', '87', '62', '44', '38', '32', '19', '12', 78]
['98', '87', 92, '62', '44', '38', '32', '19', '12', 78]
['98', '87', 92, '62', '44', '38', '32', '19', '12']
['87', 92, '62', '44', '38', '32', '19', '12']
3
['87', 92, '62', '44', '38', '32', '19', '12']
rice
['harpic', 'vim bar', 'deodrant', 'bhindi', 'dal', 'rice', 'rice', 'rice', '87', 92, '62', '44', '38', '32', '19', '12']
[]
['87', 92, '62', '44', '38', '32', '19']

# 5.To add two list "adding elements of list"

In [87]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
flower = ['rose', 'lily', 'sunflower', 'jesmin', 'mogra', 'lavender']
grocery =['harpic', 'vim bar', 'deodrant', 'bhindi', 'dal', 'rice']
 
joinlist=fruits + flower + grocery
print(joinlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'rose', 'lily', 'sunflower', 'jesmin', 'mogra', 'lavender', 'harpic', 'vim bar', 'deodrant', 'bhindi', 'dal', 'rice']

# 7.To sort a given number list in ascending order using functions.

In [89]:
num = ["19","62","38","44","32","98", "12", "87"]
num.sort()
print(num)

['12', '19', '32', '38', '44', '62', '87', '98']

# sort the list without  using sort methods:

In [34]:
a = [5,4,7,8,2,9,3]
for i in  range(1, len(a)):
    while a[i-1]>a[i] and i>0:
        a[i-1],a[i] = a[i],a[i-1]
        i = i - 1
print(a)

[2, 3, 4, 5, 7, 8, 9]

# univarsal function to sort the list using func:

In [38]:
def sort_lst(a):
    for i in range(1, len(a)):
        while a[i-1] > a[i] and i>0:
            a[i-1] ,a[i] = a[i], a[i-1]
            i = i - 1
    return a        
x = [2,4,6,8,9,7,5,3,1]
sort_lst(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# find the first heigest number in given list:

In [68]:
a = [34,4,5,6]
for i in range(1, len(a)):
    while a[i-1] > a[i] and i>0:
        a[i-1], a[i] = a[i], a[i-1]
        i = i - 1
print(a)        
print(a[-1])

[4, 5, 6, 34]
34

# find the second heidest heigest number in given list:

In [69]:
a = [76,43,54,12,90]
for i in range(1, len(a)):
    while a[i-1] > a[i] and i > 0 :
        a[i-1],a[i] = a[i], a[i-1]
        i = i - 1
print(a)
print(a[-2])

[12, 43, 54, 76, 90]
76

# find the third heidest heigest number in given list:

In [70]:
a  = [54, 87, 90 , 12, 23, 45]
for i in range(1, len(a)):
    while a[i-1] > a[i] and i > 0:
        a[i-1] , a[i] = a[i], a[i-1]
        i = i - 1
print(a)
print(a[-3])

[12, 23, 45, 54, 87, 90]
54

# PYnative Question

In [1]:
sampleList = [10, 20, 30, 40, 50]
sampleList.append(60)
print(sampleList)

sampleList.append(60)
print(sampleList)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 60]

In [73]:
 a = [1,"misabh", 23.4, True, "misbah"]
print(a)
print(len(a))

[1, 'misabh', 23.4, True, 'misbah']
5

In [2]:
sampleList = [10, 20, 30, 40, 50]
sampleList.pop()
print(sampleList)

sampleList.pop(2)
print(sampleList)

[10, 20, 30, 40]
[10, 20, 40]

In [74]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
print(len(fruits))
print(fruits[3])

5
kiwi

In [3]:
sampleList = [10, 20, 30, 40, 50]
print(sampleList[-2])
print(sampleList[-4:-1])

40
[20, 30, 40]

In [4]:
aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])

[30, 40, 50]
[10, 20, 30, 40]
[40, 50, 60, 70, 80]

In [5]:
aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1])    
print(aList[1][3])

Y
16

In [6]:
aList = [1, 2, 3, 4, 5, 6, 7]
pow2 =  [2 * x for x in aList]
print(pow2)

[2, 4, 6, 8, 10, 12, 14]

In [7]:
sampleList = [10, 20, 30, 40]
del sampleList[0:6]
print(sampleList)

[]

In [8]:
my_list = ["Hello", "Python"]
print("-".join(my_list))

Hello-Python

In [3]:
list1 = ['bnz', 'aara', 'PYnative']
print (max(list1))

bnz

In [10]:
aList = [4, 8, 12, 16]
aList[1:4] = [20, 24, 28]
print(aList)

[4, 20, 24, 28]

In [15]:
aList = ['a', 'b', 'c', 'd']
a=aList.copy()

print(a)

['a', 'b', 'c', 'd']

In [16]:
listOne  =  ['a', 'b', 'c', 'd']
listTwo =  ['e', 'f', 'g']
newList = listOne + listTwo
print(newList)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [75]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
print(type(fruits))

<class 'list'>

In [76]:
a = list(("apple", "banana", "cherry", "kiwi", "mango"))
print(type(a))

<class 'list'>

In [77]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [78]:
a = [1,2,3,4,5,6,7,8]
print(a[-6:-2])    # -2 ko wo count nhi kare ga q ki wo excludive hai

[3, 4, 5, 6]

In [79]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[3] = "blackcurrent"
print(thislist)
thislist[2:5] = "blackcurrent", "watermelon", "plum"
print(thislist)

['apple', 'banana', 'cherry', 'blackcurrent', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'blackcurrent', 'watermelon', 'plum', 'melon', 'mango']

In [80]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2,"plum")
print(thislist)

['apple', 'banana', 'plum', 'cherry']

In [81]:
thislist = ["apple", "banana", "cherry"]
thislist.append("plum")
print(thislist)

['apple', 'banana', 'cherry', 'plum']

In [82]:
a = ["apple", "banana", "cherry"]
b = ["10","29","83","47","54"]
# c = a+b
a.extend(b)
print(a)

['apple', 'banana', 'cherry', '10', '29', '83', '47', '54']

In [83]:
l = [2,6,7,3,9,1,8]
l.sort()
print(l)

[1, 2, 3, 6, 7, 8, 9]

In [89]:
lists = [2,3,44,5,6,7]
print(lists.count(2))

1

In [ ]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

In [92]:
a = [2,1,14,54,65,98,70]
b = [i for i in a if i%2==0]
print(b)

[2, 14, 54, 98, 70]

In [93]:
inputList = [2,3,4,5]
squareList = [var**2 for var in inputList if var%2==0]
print(squareList)

[4, 16]

# default parameter value:

In [ ]:
def calculate (num1, num2=4):
    res = num1 * num2
    print(res)

calculate(5, 4)

# Question form shadab:

In [1]:
a = ["cat", "bat", "tat"]
b =list(map(list,a))
print(b)

[['c', 'a', 't'], ['b', 'a', 't'], ['t', 'a', 't']]

In [1]:

num = ["19","62","38","44","32","98", "12", "87"]
num.remove("98")
print(num)

['19', '62', '38', '44', '32', '12', '87']

In [3]:
num = ["19","62","38","44","32","98", "12", "87"]
num.pop()
print(num)

['19', '62', '38', '44', '32', '98', '12']

In [5]:
num = ["19","62","38","44","32","98", "12", "87"]
num.insert(2, 92)
print(num)

['19', '62', 92, '38', '44', '32', '98', '12', '87']

In [9]:
tupl = ("rice", "dal", "roti",)
# tple = ("dal",)
# print(type(tple)
print(type(tupl))

<class 'tuple'>

In [14]:
thilist = ("apple", "banana", "cherry")
y = list(thilist)
y.remove("apple")
x = tuple(y)
print(y)
print(x)

['banana', 'cherry']
('banana', 'cherry')

# To chech memory location of list and tuple:

In [2]:
a = (2,3,4,5)
b = (3,4,6,7)
c = a + b
print(id(a))
print(id(b))
print(id(c))

1810667435440
1810667086096
1810666838544

In [72]:
a = [2,3,4,5]
a.append(45)
print(a)

print(id(a))

[2, 3, 4, 5, 45]
3065900686784

In [38]:
id

In [23]:
iter

In [29]:
x = 5 
x = 4

print(id(x))

1441643692400

In [60]:
x = 5

print(id(x))

1441643692400

In [3]:
a = 13456
print(id(a))

1810667302288