# loop question

# 1. To print odd & even number

In [1]:
x = int(input("enter the value :"))
if x%2==0:
    print(x,"is even")
else:
    print(x,"is odd")

enter the value :7
7 is odd

# 2.Count the total number of digits in a number using for loop

In [35]:
a="7896"
count=0
for i in a:
    count=count+1
print(count)

4

# 3.Write a program to print multiplication table of a given number
 # eg.2 x 1 = 2
  # 2 x 2 = 4 ........

In [2]:
n  = int(input("enter the number:"))
for i in range(1,11):
    print(i, "*", n, "=", i*n)

enter the number:7
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70

In [1]:
def table(n):
    for i in range(1, 11):
        b = i*n
        print(b)
table(3)

3
6
9
12
15
18
21
24
27
30

# From user:

In [2]:
def TABLE():
    a=int(input("enter the number:"))
    for i in range(1,11):
        b=a*i
        print(a,"*",i,"=",b) 
        
TABLE()

enter the number:8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

# 4.Count the total number of digits in a number using while loop

In [4]:
n = int(input("enter the no: "))
count=0
while n>0:
    n=n//10
    count=count+1
print(count)

enter the no: 24734587699
11

# 5.Find the factorial of a given number

In [5]:
i = int(input("Enter the Number:"))
fac=1
while(i>0):
    fac=fac*i
    i=i-1
     
    print("factorial =",fac)

Enter the Number:6
factorial = 6
factorial = 30
factorial = 120
factorial = 360
factorial = 720
factorial = 720

# factorial by using function:

In [11]:
def factorial(i):
    fac = 1 
    while (i>0):
        fac = fac*i
        i = i - 1
        print(fac)
        
factorial(5)

5
20
60
120
120

# find factorial using user input function:

In [12]:
def factorial():
    i = int(input("Enter the num:"))
    fac = 1
    while (i>0):
        fac = fac * i
        i = i - 1
        print(fac)
factorial()

Enter the num:5
5
20
60
120
120

# 6.Display Fibonacci series up to 10 terms

In [32]:
n=int(input("enter the number:"))
x=0
y=1
z=0
while z<=n:
    print(z)
    x=y
    y=z
    z=x+y

enter the number:30
0
1
1
2
3
5
8
13
21

In [33]:
x = 0
print(x)
y = 1
print(y)
for i in range(1, 11):
    z = x+y
    x=y
    y=z
    print(z)

0
1
1
2
3
5
8
13
21
34
55
89

# 7.Calculate the cube of all numbers from 1 to a given number

In [21]:
a =int(input("enter the cube number:"))
cube=a**3
print(cube)

enter the cube number:5
125

In [22]:
for i in range(1,11):
    b = i**3
    print(b)

1
8
27
64
125
216
343
512
729
1000

In [23]:
def cube():
    for i in range(1, 11):
        b = i**3
        print(b)
cube()

1
8
27
64
125
216
343
512
729
1000

# 8. print the given number is prime or not

In [6]:
A=int(input("Enter the number:"))
count=0
for i in range (1,A+1):
    if A%i == 0 :
        count=count+1
    if count == 2 :
        print ("its prime")
    else:
        print(" its not a prime")

Enter the number:4
 its not a prime
its prime
its prime
 its not a prime

# 9. find  the  year  is leap year or not:

In [18]:
a = int(input("Enter the year:"))
if a%4==0:
    print("leap year")
else:
    print("its not leap year")

Enter the year:2023
its not leap year

# floor divition using:

In [4]:
def divi(a):
    for i  in range(1,11):
        b=a//i
        print(a,'/',i,'=',b)
divi(4)

4 / 1 = 4
4 / 2 = 2
4 / 3 = 1
4 / 4 = 1
4 / 5 = 0
4 / 6 = 0
4 / 7 = 0
4 / 8 = 0
4 / 9 = 0
4 / 10 = 0

# multiply i*i means 1*1, 2*2:

In [ ]:
 n = int(input("enter no"))
for i in range(n):
    c = i*i
    print(c)