# Oops concepts

# define a class:

In [8]:
class Phone:
    def make_call(self):          #---------->self (current objects)
        print("making call")
    def ply_game(self):
        print("playing gaame")

object instanciated: (intance of a class) is class ka ek object hamne instanciated kiya.............ham is object ke sath ham call karsakte h game khel sakte h q ke ye obj class(blue\print) ke ander define hai

In [9]:
p1 = Phone()

In [10]:
p1.make_call()

making call

In [11]:
p1.ply_game()

playing gaame

# define a class with more Attributes

In [1]:
class Phone():
    def set_color(self,color):   
        self.color=color       # color ko assing karna h assing this attritbute  in to the color value of what ever  obj i creat, 
    def set_cost(self,cost):
        self.cost=cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    def make_call(self):
        print("making call")
    def ply_game(self):
        print("playing gaame")

In [4]:
p2 = Phone()

In [5]:
p2.set_color("blue")

In [6]:
p2.set_cost(5000)

In [7]:
p2.show_color()

'blue'

In [8]:
p2.show_cost()

5000

In [10]:
p2.make_call()

making call

In [12]:
p2.ply_game()

playing gaame

# creating a class by using constructor and instantiated the obj and invoking

In [37]:
class Employee():
    def __init__(self,name,age,salary,gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
        
        
    def show_employee_details(self):
            print("Nmae of employee is",self.name)
            print("Age of employee is",self.age)
            print("Salary of employee is",self.salary)
            print("Gender of employee is",self.gender)

In [38]:
e1 = Employee('Ram',32,85000,'Male')
e2 = Employee('harry',24,2300013,'Male')

In [39]:
e1.show_employee_details()
e2.show_employee_details()

Nmae of employee is Ram
Age of employee is 32
Salary of employee is 85000
Gender of employee is Male
Nmae of employee is harry
Age of employee is 24
Salary of employee is 2300013
Gender of employee is Male

# inheritance of class perent and child class invoking the method

# creat a class by ushing constructor

In [40]:
class vehicle:
    def __init__(self,milage,cost):
        self.milage=milage
        self.cost=cost
        
    def show_vehicle_details(self):
        print("milage of vehicla is",self.milage)
        print("cost of the car",self.cost)
        print("i am a vehicle")

# intenciated the object   /base class or super class:

In [41]:
v1 = vehicle(2000,12000)

In [42]:
v1.show_vehicle_details()

milage of vehicla is 2000
cost of the car 12000
i am a vehicle

# we creat a child class jo super class ki property ko inherit kareta h

In [43]:
class Car(vehicle):
    def show_car_details(self):
        print("i am a car")

In [44]:
c1 = Car(250,1200)

In [45]:
c1.show_vehicle_details()

milage of vehicla is 250
cost of the car 1200
i am a vehicle

In [46]:
c1.show_car_details()

i am a car

# class by ushing consttrctor make object:

In [47]:
class Employee():
    def __init__(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary

In [48]:
e1 = Employee("Harry","Jecson",44000)
e2 = Employee("Rohan","Das",44000)

In [49]:
print(e1.fname, e1.lname, e1.salary)
print(e2.fname, e2.lname, e2.salary)

Harry Jecson 44000
Rohan Das 44000

In [50]:
 class Employee():
    
    increment = 1.5
    no_of_employee = 0
    def __init__(self, fname, lname, salary):
        self.fname = fname                                   #self==current objects
        self.lname = lname                              #instance ko object bolte hi instance==object
        self.salary = salary
        self.increment = 1.4
        Employee.no_of_employee +=1
        
    def increase(self):
        self.salary = int(self.salary * Employee.increment)
        
        
        
        
print(Employee.no_of_employee)        
e1 = Employee("Harry","Jecson",44000)
print(Employee.no_of_employee)
e2 = Employee("Rohan","Das",74000) 
print(Employee.no_of_employee)



e1.increment = 9
print(e1.__dict__)
print(e2.__dict__)

print(Employee.__dict__)

print(e1.salary)
e1.increase()
print(e1.salary)
  
    
print(e2.salary)
e2.increase()
print(e2.salary)

0
1
2
{'fname': 'Harry', 'lname': 'Jecson', 'salary': 44000, 'increment': 9}
{'fname': 'Rohan', 'lname': 'Das', 'salary': 74000, 'increment': 1.4}
{'__module__': '__main__', 'increment': 1.5, 'no_of_employee': 2, '__init__': <function Employee.__init__ at 0x000001CF2B2883A0>, 'increase': <function Employee.increase at 0x000001CF2B2885E0>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}
44000
66000
74000
111000

# agar main intance ke ander ek veriable bana du self.increment=1.4 ye salary 44000 se 66000 hi jaye q ki maine Employee.increment used kiya h lekin bu any chance mai n yaha pe self.increment likh du to wo 44000 se 666123 hojaye ga.....
    
    
    
print(harry-e1__dict__ )-----> find the intance veriable
print(Employee__dict__)------> find the class veriable

# class method

In [51]:
class Employee():
    increment = 1.5
    def __init__(self,fname,lname,salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
    def increase(self):
        self.salary = int(self.salary * Employee.increment) 
        
        
        
    @classmethod
    def change_increment(cls, amount):
        cls.increment = amount
        
        
        
harry = Employee('Harry', 'jackson', 44000) 


rohan = Employee('Rohan', 'das', 44000)


print(harry.salary)
Employee.change_increment(4)
harry.increase()
print(harry.salary)

44000
176000

# class method As Alternative constructor:

In [52]:
class Employee():
    
    def __init__(self,fname,lname,salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
      
        
        
        
    @classmethod
    def from_str(cls, emp_string):
        fname, lname, salary = emp_string.split("-")
        return cls(fname, lname, salary)
    
    
lovish = Employee.from_str("lovish-jackson-76000")   #object

print(lovish.fname)
print(lovish.lname)
print(lovish.salary)

lovish
jackson
76000

In [53]:
class Person():     #class
             
    increment = 1.5      #class veriable
    def __init__(self, fname, lname, sex, salary):                            #constractor
        self.fname = fname                              #instance veriable
        self.lname = lname
        self.sex = sex
        self.salary = salary
        
        
    @classmethod
    def from_str(cls, emp_string):
        fname, lname, sex, salary = emp_string.split("-")     #class method
        return cls(fname, lname, sex, salary)
    
    
    
jessa = Person.from_str("jessa-jeckson-Male-88000")  #object

print(jessa.fname)
print(jessa.lname)
print(jessa.sex)
print(jessa.salary)

jessa
jeckson
Male
88000

# static method :

In [54]:

   class Employee():
    
    def __init__(self,fname,lname,salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
      
    @staticmethod
    def isopen(day):
        if day == "sunday":
            return False
        else:
            return True
        
print(Employee.isopen("sunday"))

False

# non-parametrise:

In [55]:
class non_parameterise():
    def __init__(self):
        self.name = "afreen"
        self.age = 21
    def show(self):
        print("my name is:", self.name)
        print("my age is:", self.age)
        
        
p1 = non_parameterise()
p1.show()

my name is: afreen
my age is: 21

# default parameter:

In [32]:
class default_parameter():                                             # default parameter   
    def make_call(self):                                               #---------->self (current objects)
        print("making call")                                           # without usingg constructor:
    def ply_game(self):
        print("playing gaame")

In [33]:
p1 = default_parameter()

In [34]:
p1.make_call()

making call

In [36]:
p2 = default_parameter()

In [37]:
p2.ply_game()

playing gaame

# paramertarise:

In [4]:
class Person():
    def __init__(self, fname, lname, age, salary):
        self.fname=fname
        self.lname=lname
        self.age=age
        self.salary=salary
        
        
    def show_person_details(self):
        print("my fname is:", self.fname)
        print("my lname is:", self.lname)
        print("my age is:", self.age)
        print("my salary is:", self.salary)
        
p1 = Person("afreen", "manihar", 21, 80000)
p2 = Person("zikra", "khan", 21, 80000)
p3 = Person("misba", "khan", 21, 80000)


p1.show_person_details()

p2.show_person_details()

p3.show_person_details()

my fname is: afreen
my lname is: manihar
my age is: 21
my salary is: 80000
my fname is: zikra
my lname is: khan
my age is: 21
my salary is: 80000
my fname is: misba
my lname is: khan
my age is: 21
my salary is: 80000

# Calling instance methods:

In [1]:
class Student:
    # constructor
    def __init__(self, name, age):
        # Instance variable
        self.name = name
        self.age = age

    # instance method to access instance variable
    def show(self):
        print('Name:', self.name, 'Age:', self.age)
s1 = Student('misba', 24)
s1.show()

Name: misba Age: 24

# Modify Instance Variables inside Instance Method

In [21]:
class Student:
    def __init__(self, name, age, roll_number):
        # Instance variable
        self.name = name
        self.age = age
        self.roll_number = roll_number
      

    # instance method access instance variable
    def show(self):
        print('Name:', self.name, 'Age:', self.age, 'Roll Number:', self.roll_number)

    # instance method to modify instance variable
    def update(self, name, age, roll_number):
        self.name = name
        self.age = age
        self.roll_number = roll_number
        

# create object
print('class VIII')
stud = Student("Zikra",14,1)
# call instance method
stud.show()

# Modify instance variables
print('class IX')
stud.update("misba",13,2)
stud.show()

print('class IIX')
stud.update("afreen", 12, 3)
stud.show()

class VIII
Name: Zikra Age: 14 Roll Number: 1
class IX
Name: misba Age: 13 Roll Number: 2
class IIX
Name: afreen Age: 12 Roll Number: 3

# Create Instance Variables in Instance Method:

In [22]:
class Student:
    def __init__(self, roll_no, name, age):
        # Instance variable
        self.roll_no = roll_no
        self.name = name
        self.age = age

    # instance method to add instance variable
    def add_marks(self, marks):
        # add new attribute to current object
        self.marks = marks

# create object
stud = Student(20, "Emma", 14)
# call instance method
stud.add_marks(75)

# display object
print('Roll Number:', stud.roll_no, 'Name:', stud.name, 'Age:', stud.age, 'Marks:', stud.marks)

Roll Number: 20 Name: Emma Age: 14 Marks: 75

# Dynamically Add Instance Method to a Object

In [ ]:
import types

class Student:
    # constructor
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # instance method
    def show(self):
        print('Name:', self.name, 'Age:', self.age)

# create new method
def welcome(self):
    print("Hello", self.name, "Welcome to Class IX")


# create object
s1 = Student("Jessa", 15)

# Add instance method to object
s1.welcome = types.MethodType(welcome, s1)
s1.show()

# call newly added method
s1.welcome()

# Dynamically Delete Instance Methods:
# By using del operator __del__:

# By using delattr() method

In [ ]:
emma = Student('Emma', 14)
emma.show()
emma.percentage(67, 62)

# delete instance method percentage() using delattr()
delattr(emma, 'percentage')
emma.show()

# Again calling percentage() method
# It will raise error
emma.percentage(67, 62)

In [16]:
class A:
    def process(self):
        print(" In class A")


class B:
    def prcess(self):
        print(" In class B")

class C(B, A):
    def press(self):
        print(" In class C")
        
        
class D(C, B, A):
    def procss(self):
        print(" In class D")


# Creating object of C class
C1 = D()
C1.procss()
print(C.mro())

 In class D
[<class '__main__.C'>, <class '__main__.B'>, <class '__main__.A'>, <class 'object'>]

In [32]:
dct=dict
print(dir(dct))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# ITERATOR:

In [31]:
a=iter("afreen")
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

a
f
r
e
e
n

# generator:

In [20]:
def square():
    i = 1
    while True:
        yield i * i
        i = i + 1
for num in square():
    if num > 100:
        break
    print(num)

1
4
9
16
25
36
49
64
81
100

In [ ]:
def multi():
    i = 1
    while True:
        yield i + i
        i = i + 1
for num in multi():
    if num > 50:
        break
    print(num)

# Reduce function:

In [ ]:
from  functools import reduce 
    
def sum_num(a, b):
    return a*b
lit = reduce(sum_num, [1,2,3,4])
print(lit)

# Filter function:

In [65]:
def greater_than_2(n):
    if n>2:
        return True
    else:
        return False
h1 = [1,2,3,44,5,6,-4,-5,-6]
greater_th_2 = list(filter(greater_than_2, h1))
print(greater_th_2)

[3, 44, 5, 6]

# without map function:

In [67]:
h1 = [1,2,4,5,7]
sq = []
for item in h1:
    sq.append(item**2)
print((sq))

[1, 4, 16, 25, 49]

In [14]:
h1 = [1,2,4,5,7]
sq = []
for item in h1:
    sq.append(item+2)
print((sq))

[3, 4, 6, 7, 9]

# with map function:

In [68]:
def square(n):
    return n**2
h1 = [1,2,4,5,7]
sq = list(map(square, h1))
print(sq)

[1, 4, 16, 25, 49]

# Enumerate:

In [73]:
a = ["CodeWithAfreen", "CodeWithHarry", "CodeItUp", "T Series", "Zee Tv"]
   
for i, item in enumerate(a):
    if (i+1) %3==0:
        print(item)

CodeItUp

In [8]:
language = ["Python", "Javascript", "Html", "Css"]
a = enumerate(language)
print(list(a))

[(0, 'Python'), (1, 'Javascript'), (2, 'Html'), (3, 'Css')]

# join function:

In [74]:
a = ["CodeWithAfreen", "CodeWithHarry", "CodeItUp", "T Series", "Zee Tv"]

print(" and ".join(a))

CodeWithAfreen and CodeWithHarry and CodeItUp and T Series and Zee Tv

In [12]:
a = ["CodeWithAfreen", "CodeWithHarry", "CodeItUp", "T Series", "Zee Tv"]
b = ["CodeWithAfreen", "CodeWithHarry", "CodeItUp", "T Series", "Zee Tv"]

print(  b)

['CodeWithAfreen', 'CodeWithHarry', 'CodeItUp', 'T Series', 'Zee Tv', 'CodeWithAfreen', 'CodeWithHarry', 'CodeItUp', 'T Series', 'Zee Tv']

# Lamda function:

In [79]:
# syntex:
#     lambda argument : manipulate(argument)
    
    
def add(a,b):
    s = a+b
    return s
print(add(12,2))

14

# by using lambda:

In [80]:
add = lambda x,y:x+y
print(add(12,12))

24

how to used lamda function in list of tuple sorting

In [9]:
a = [(1,2), (3,4),(87,76)]
a.sort(key=lambda x:x[1])
print(a)

[(1, 2), (3, 4), (87, 76)]

# Bisect module;

In [88]:
import bisect

number = 5
a = [1,2,3,4,6,7,88,9]             #Bisect index batata hai
print(bisect.bisect(a, number))  # insort actually number ko dd karta hai 
bisect.insort(a, number)
print(a)

4
[1, 2, 3, 4, 5, 6, 7, 88, 9]

In [3]:
import bisect 

num = 23
a = [21, 34,54, 67,43]
print(bisect.bisect(a, num))  # insort actually number ko dd karta hai 
bisect.insort(a, num)
print(a)

1
[21, 23, 34, 54, 67, 43]

# zip fuction:

In [1]:
name = ["Afreen", "Zikra", "Misbah"]
password = ["user1", "user2", "user3"]

print(dict(zip(name,password)))

{'Afreen': 'user1', 'Zikra': 'user2', 'Misbah': 'user3'}

In [97]:
name = ["Afreen", "Zikra", "Misbah"]
surname = ["manihar", "khan", "khan"]
password = ["user1", "user2"]

print(list(zip(name,password,surname)))

[('Afreen', 'user1', 'manihar'), ('Zikra', 'user2', 'khan')]

list of tuple covert in dict:

In [94]:
example = [("a", 1), ("b", 2)]
print(dict(example))

{'a': 1, 'b': 2}