In [1]:
a= 5
b= 2
print(a % b)

1

In [6]:
def addition(a,b):
    c = a + b
    print(c)
addition(4,5)

9

In [10]:
def table():
    a = int(input("enter the num:"))
    for i in range(1,11):
        c=a*i
        print(c) 
table()

enter the num:4
4
8
12
16
20
24
28
32
36
40

In [14]:
a = int(input("enter the num:"))
for i in range(1,11):
    c=a*i
    print(c)

enter the num:4
4
8
12
16
20
24
28
32
36
40

In [26]:
def oddeven(a):
    for i in a:
        if i%2==0:
            b.append("EVEN")
        else:
            b.append("Odd")            
lst = [2,3,4,5,6] 
b = []
oddeven(lst)
print(b)

['EVEN', 'Odd', 'EVEN', 'Odd', 'EVEN']

In [28]:
a = [5,7,9,1,3]
b = [(lambda i: "Even" if i%2==0 else "Odd") (i)  for i in a]
print(b)

['Odd', 'Odd', 'Odd', 'Odd', 'Odd']

In [30]:
def labda(x):
    b = [(lambda x: "Even" if x%2==0 else "Odd")(x) for x in a]
    print(b)
a = [3,6,9,12,5]    
labda(a)

['Odd', 'Even', 'Odd', 'Even', 'Odd']

In [2]:
dictn = {"name":"Afreen", "Age":21, "salary":87000}
print(dictn.items())
print(dictn.keys())
print(dictn.values())

dict_items([('name', 'Afreen'), ('Age', 21), ('salary', 87000)])
dict_keys(['name', 'Age', 'salary'])
dict_values(['Afreen', 21, 87000])

In [15]:
person = {"name": "Afreen", "Country": "Mumbai", "salary": 87000}
print('key', ':', 'value')
for key in person:
    print(key, ':' ,person[key])

key : value
name : Afreen
Country : Mumbai
salary : 87000

In [12]:
person = {"name": "Jessa", "country": "USA", "telephone": 1178}

# Iterating the dictionary using for-loop
print('key', ':', 'value')
for key in person:
    print(key, ':', person[key])

key : value
name : Jessa
country : USA
telephone : 1178

In [17]:
a = 65
b = 1075
c = a + b
print(c)

1140

In [23]:
def add(a,b):
    c = a * b
    print(c)
add(3,6)

18