
# 1 find the student marks who has heigest marks?

In [2]:
student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
max=0
stu=''
for i in student:
    score=student.get(i)['score']           # get() is use to get the value of specified key
    if score>max:
        max=score
        stu=i
print ({stu:max})

{'Talha': 78}

# 3.  Swap adjacent elements in a list without using inbuilt functions?

In [5]:
lst = [54,56,43,78,21]
for i in range(1,len(lst)):
    lst[i],lst[i-1] = lst[i-1],lst[i]
print(lst)

[56, 43, 78, 21, 54]

# 4. Write a program to enter the number till the user wants
# and at the end it should display the sum of all numbers entered.(using while loop)

In [4]:
number_of_inputs = int(input("How many number to sum: "))

sum = 0                                                                     # Initialize the sum variable
for x in range(number_of_inputs):                                                   # Repeat the number of inputs times
    sum = sum +  int(input("Enter Value: "))                                       # Take a input and add it to the sum

print("Sum is", sum)                                                                      # print

How many number to sum: 4
Enter Value: 5
Enter Value: 10
Enter Value: 30
Enter Value: 5
Sum is 50

# 5. Find the unique number in a list using function?
 #   Sample Input : [2,1,4,3,1,4,2]
   # Sample Output : 3

In [16]:
a = [2,1,4,3,2,1,4]
# a = [4,2,3,2,3,4,9]                                 #only one unique num ke liye ye aplicable hai
r=0
for i in a:
    r^=i
print(r)

3

In [21]:
a = [2,1,4,3,2,1,4]
for i in a:
    if a.count(i)==1 :
        print(i)

3

In [8]:
a = [2,3,4,4,3,2,5,6,7]
b = [i for i in a if a.count(i) < 2]
print(b)

[5, 6, 7]

# 6. create a iterator to find all the power of 3?

In [18]:
for i in range(1,11):
    b = i**3
    print(b)

1
8
27
64
125
216
343
512
729
1000

# 7. give the example of multilevel inheritance by usnig super method?

In [34]:
class parent:
    def __init__(self,name):
        self.name = name
class child1(parent):
    def __init__(self, name, age):
        super().__init__(name)
        self.age = age
class child2(child1):
    def __init__(self, name, age, salary):
        super().__init__(name, age)
        self.salary = salary
    def show(self):
        print("my name is:", self.name)
        print("my age is:", self.age)
        print("my salary is:", self.salary)
c1 = child2("Afreen", 20, 90000)
c1.show()

my name is: Afreen
my age is: 20
my salary is: 90000

In [36]:
class parent:
    def __init__(self,name):
        self.name = name
class child1(parent):
    def __init__(self, name, age):
        super().__init__(name)
        self.age = age
class chilld2(child1):
    def __init__(self, name, age, salary):
        super().__init__(name, age, salary)
        self.salary = salary
class child3(child2):
    def __init__(self, name, age, salary, DOB):
        super().__init__(name,age, salary)
        self.DOB = DOB
    def show(self):
        print(self.name, self.age, self.salary, self.DOB)
obj = child3("AFREEN", 20, 86000, 2002)
obj.show()

AFREEN 20 86000 2002

In [23]:
class company:
    def company_name(self):
        return "google"
    
class emp_salry:
    def employee_salary(self):
        return 85000
class employee(company, emp_salry):
    def  info(self):
        c_name =  super().company_name()
        emp_salry = super().employee_salary()
        print("afreen is employee of:", c_name)
        print("afreen salary is:", emp_salry)       
e1 = employee()
e1.info()

afreen is employee of: google
afreen salary is: 85000

# 8. Convert a local variable into global variable and give the methods to access the same

In [2]:
def myfunc():
    global x
    x = "Afreen"
myfunc()    
print("my name is " + x)

my name is Afreen

In [1]:
x = "Nazreen"
def myfunc():
    global x
    x = "Afreen"
myfunc()
print("my name is " + x)

my name is Afreen

# 9. Make a class and implement getter setter methods

In [53]:
class person:
    def __init__(self,name, age):
        self.name = name
        self.__age = age
                
# get means value ko pehle nikalo        
    def get_age(self):
        return self.__age
        
# set the value nikale huye 
    def set_age(self, age):
        self.__age = age 
               
p1 = person("Afreen", 20)
print("Name:", p1.name, "Age:", p1.get_age())

p1.set_age(21)
print("Name:", p1.name, "Age:", p1.get_age())

Name: Afreen Age: 20
Name: Afreen Age: 21

# 10 find the even odd from the given list using ananynomus function?

In [13]:
a = [1,2,4,3,5,6,7,9]
b = [(lambda x : "Even" if x%2==0 else "Odd") (x) for x in a]
print(b)

['Odd', 'Even', 'Even', 'Odd', 'Odd', 'Even', 'Odd', 'Odd']

# 11. Write syntax for Dictionary comprehension and give benefits of it

# 12. How to change the behaviour of a function without modifying it ?

# *without the parameter:

In [52]:
def sample(mark):
    def addition():
        print("my name is afreen")
        mark()
    return addition
@sample
def myactulfunc():
    print("i am employee of google")
myactulfunc()

my name is afreen
i am employee of google

# *with parameter:

In [54]:
def function1(mark):
    def addition(a,b,c):
        print("my name is:", a)
        mark(b,c)
    return addition
@function1
def function2(b,c):
    print("i am a employee of:", b)
    print("i am a student of:", c)
function2("AFREEN", "GOOGLE", "MCC")

my name is: AFREEN
i am a employee of: GOOGLE
i am a student of: MCC

# 13. What will be the Output ?

In [59]:
a="python"
b="pythoN"
print(a>b)

# True
# False
# Error
# None of these

True

# Q1.find the largest number by usnig class and object:

In [ ]:
class maximum:
     def __init__(self, a):
            self.a = a 
    
     def show(self):
            lst = [23,54,76,187,986,0.44]
            max_ = lst[0]
            for i in lst:
                if i > max_:
                    max_ = i
            return max_            
obj = maximum(a)
obj.show()

# TO  FIND THE HEIGEST NUMBER IN LIST:

In [ ]:
lst = [23,54,76,187,986,0.44]
max_ = lst[0]
for i in lst:
    if i > max_:
        max_ = i
print(max_)

# TO FIND THE LOWEST NUMBER IN LIST:

In [ ]:
lst = [23,54,76,187,986,0.44]
min_ = lst[0]
for i in lst:
    if i < min_:
        min_ = i
print(min_)

# FIND THE SECOND HEIGEST NUMBER IN LIST:

In [ ]:
a = [21,34,54,67,9987,298,76]

maxval = max(a)
print("first maximum number in lst:", maxval)
a.remove((maxval))
scondmax = max(a)
print("first maximum number in lst:", scondmax)

# CREATE A SQUARE OF 1 TO 10 NUMBER BY USING GENERATOR:

In [64]:
def square():
    i = 1
    while True:
        yield i*i
        i = i + 1
for num in square():
    if num > 100:
        break
    print(num)

1
4
9
16
25
36
49
64
81
100

# Q.2 swap the adjcent element of iterable using function take indexing as argument?

only swap 1st and 2nd element ig given lst:

In [7]:
def func(l,i):
    l[i],l[i+1] = l[i+1],l[i]
    print(l)
l = [21,22,23,24,25]
func(l,0)

[22, 21, 23, 24, 25]

In [ ]:
only swap last and 2nd last element of lst:

In [78]:
def func(l,i):
    l[i-1],l[i-2] = l[i-2],l[i-1]
    print(l)
l = [21,22,23,24,25]
func(l,5)

[21, 22, 23, 25, 24]

In [ ]:
only swap the center element:

In [4]:
def func(l,i):
    l[i-1],l[i-2] = l[i-2],l[i-1]
    print(l)
l = [22,23,24,25]
func(l,3)

[22, 24, 23, 25]