# STAR PRINT:

In [2]:
i = 1
while i <= 5:
    j = 1 
    while j <= i:
        print("*", end=" ")
        j = j + 1
    print(" ")
    i = i + 1

*
* *
* * *
* * * *
* * * * *

In [4]:
i = 1
while i <= 5:
    j = 1 
    while j <= i:
        print(i, end=" ")
        j = j + 1
    print(" ")
    i = i + 1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
i = 1
while i <= 5:
    j = 1 
    while j <= i:
        print(j, end=" ")
        j = j + 1
    print(" ")
    i = i + 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [1]:
i = 1
while i <= 5:
    b = 1
    while b <= 5-i:
        print(" ", end=" ")
        b= b + 1
    j = 1 
    while j <= i:
        print("*", end=" ")
        j = j + 1
    print(" ")
    i = i + 1

        *
      * *
    * * *
  * * * *
* * * * *

In [2]:
i = 1
while i <= 5:
    b = 1
    while b <= 5-i:
        print(" ", end=" ")
        b= b + 1
    j = 1 
    while j <= i:
        print(i, end=" ")
        j = j + 1
    print(" ")
    i = i + 1

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [3]:
i = 1
while i <= 5:
    b = 1
    while b <= 5-i:
        print(" ", end=" ")
        b= b + 1
    j = 1 
    while j <= i:
        print(j, end=" ")
        j = j + 1
    print(" ")
    i = i + 1

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [5]:
n = 5
for i in range(n):
    for j in range(i, n):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [7]:
n = 5
for i in range(n):
    for j in range(i, n):
        print(i, end=" ")
    print()

0 0 0 0 0
1 1 1 1
2 2 2
3 3
4

In [6]:
n = 6

for i in range(1,n):
    for j in range(i, n):
        print(j, end=" ")
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [1]:
n = int(input("Enter thee number of rows:"))
k = ord("A")
for i in range (n):
    for j in range(i+1):
        print(chr(k), end=" ")
        k=k+1
    print()

Enter thee number of rows:5
A
B C
D E F
G H I J
K L M N O

In [17]:
n = int(input("Enter thee number of rows:"))
for i in range (n):
    k = ord("A") + i
    for j in range(i+1):
        print(chr(k), end=" ")
        k=k+1
    print()

Enter thee number of rows:5
A
B C
C D E
D E F G
E F G H I

In [1]:
n = int(input("Enter the the number of rows"))
for i in range(n): 
    for j in range(n-i-1):
        print(" ", end = "")
    for j in range(i+1):
        print("*", end = " ")
    print()

Enter the the number of rows5
    *
   * *
  * * *
 * * * *
* * * * *

In [2]:
n = int(input("Enter the the number of rows"))
for i in range(n): 
    for j in range(n-i-1):
        print(" ", end = "")
    for j in range(i+1):
        print("*", end = "")
    print()

Enter the the number of rows5
    *
   **
  ***
 ****
*****

In [5]:
n = int(input("Enter the the number of rows"))
for i in range(n): 
    for j in range(n-i-1):
        print(" ", end = "")
    for j in range(2*i+1):
        print("*", end = "")
    print()

Enter the the number of rows5
    *
   ***
  *****
 *******
*********

In [23]:
n = int(input("enter number of  row:"))
for i in range(65,n+65):
    for j in range(65, i+1):
        print(chr(j),end=" ")
    print()

enter number of  row:5
A
A B
A B C
A B C D
A B C D E

In [25]:
n = int(input("enter number of  row:"))
for i in range(65,n+65):
    for j in range(65, i+1):
        print(chr(i),end=" ")
    print()

enter number of  row:5
A
B B
C C C
D D D D
E E E E E

In [2]:
n = int(input("enter the number of rows:"))
num = 1
for row in range(1, n+1):
    for col in range(1, row+1):
        print(num, end=" ")
        num=num+1
    print()

enter the number of rows:4
1
2 3
4 5 6
7 8 9 10

In [4]:
n = int(input("enter number of  row:"))
for i in range(n):
    for j in range(n-i):
        print(j+1 ,end=" ")
    print()

enter number of  row:5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1