# strings questions

1.To check whether a given string is a palindrome.

In [3]:
s = input("enter the value : ")
reverse = s[::-1]
if(s == reverse ):
     print("yes it is palindrome")
else:
    print("no it is not palindrome")

enter the value : 121
yes it is palindrome

2.To capitalize the first character in a given sentence.

In [4]:
a="hello world"
x=a.title()
print(x)

Hello World

3.Program to convert String to a List.

In [5]:
n= input("enter the value")
l= n.split();
print(l)

enter the valuehello my youtube family
['hello', 'my', 'youtube', 'family']

4.To sort alphabetically the words in a given sentence.

In [1]:
str= input("enter a string:")
word = [word.lower() for word in str.split()]
word.sort()
print("my word:")
for words in word:
    print(words)

enter a string:pineapple mango banana cherry blueberry cranberry apple star
my word:
apple
banana
blueberry
cherry
cranberry
mango
pineapple
star

5. To demonstrate any 10 function(method) of string class.

In [6]:
a="hello world my name is harry"
print(a.upper())
print(a.lower())
print(a.replace("harry","afreen"))
print(a.capitalize())
print(a.title())
print(a.strip())
num="1,2,3,4,5,6,7,8"
print(num.split())
print(len(a))
print(a.count("l"))
print(a.find("r"))
print(a.rfind("l"))
x = "harry is a good boy"
print(x.endswith("boy"))
print(x.find("is"))

HELLO WORLD MY NAME IS HARRY
hello world my name is harry
hello world my name is afreen
Hello world my name is harry
Hello World My Name Is Harry
hello world my name is harry
['1,2,3,4,5,6,7,8']
28
3
8
9
True
6

6. To demonstrate string slice

In [12]:
a= "Hello World"
print(a[2:6])
print(a[:5])
print(a[3:])
print(a[-6:-2])

llo
Hello
lo World
 Wor

7. To check substring is Present in a Given String

In [16]:
string = "my name is zikra"
substring = "zikra"

def SearchString(substring):
    result = string.find(substring)
    if(result == -1):
        print("Given substring not found.")
    else:
        print("substring found at index : ", result)

SearchString(substring)

substring found at index :  11

# PYnative Question:

 8.minhaj Question

In [15]:
days = "mon, tue, wed, thu, fri, sat, sun"
print(days[::5])


#(A)mon tue wed thu fri sat sun
#(B)fri
#(C)T
#(D)mtwtfss

mtwtfss

In [2]:
a = int(input("enter the number"))
b = int(input("enter the number"))
c = a + b
print(c)

enter the number22
enter the number22
44

100.function def using

In [12]:
def add(a,b):
    c=a+b
    print(c)
add(4,5)
add(3,7) 

def sub(a,b):
    c=a-b
    print(c)
sub(3,4) 
sub(5,2)

9
10
-1
3

user input function operator

In [29]:
def multi():
    a=int(input("enter the number:"))
    for i in range(1,11):
        b=a*i
        print(a,"*",i,"=",b) 
        
multi()

enter the number:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

loop division

In [30]:
for i in range(1,11):
    b=2*i
    print("2","*",i,"=",b)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [36]:
def multi(a):
    for i in range(1,11):
        b=a*i
        print(b)
multi(6)

6
12
18
24
30
36
42
48
54
60

floor division by using function

In [50]:
def divi(a):
    for i  in range(1,11):
        b=a//i
        print(a,'/',i,'=',b)
divi(4)

4 / 1 = 4
4 / 2 = 2
4 / 3 = 1
4 / 4 = 1
4 / 5 = 0
4 / 6 = 0
4 / 7 = 0
4 / 8 = 0
4 / 9 = 0
4 / 10 = 0

factorial by using function

In [62]:
def factorial(i):
    fac=1
    while(i>0):
        fac=fac*i
        i=i-1
        print(fac)

factorial(5)

5
20
60
120
120

user input factiroial function

In [65]:
def factorial():
    i=int(input("enter the number:"))
    fac=1
    while(i>0):
        fac=fac*i
        i=i-1
        print(fac)

factorial()

enter the number:8
8
56
336
1680
6720
20160
40320
40320

In [6]:
 n = int(input("enter no"))
for i in range(n):
    c = i*i
    print(c)

enter no3
0
1
4

In [5]:
a = int(input("enter the year:"))
if a % 4 == 0:
    print("true")
else:
    print("false")

enter the year:2014
false

In [ ]:
a = "chris alan"
print(a.title())