# Q.1 find the square of given range in dictionary key values pair me:

In [6]:
dict = {}
for i in range(1,11):
    dict[i] = i**2
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# this answer writen in dict comnprehsion:

In [13]:
dict1 = {key:value**2 for i in range(1,11)}
dict1={i:i**2 for i in range(1,11)}
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Q.2 print the odd Even number in key values pair:

In [25]:
dict = {}
for i in range(1,11):
    if i%2==0:
        dict[i]="even"
    else:
        dict[i]="odd"
print(dict)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}

# print "Even" and "Odd" in key valuse pair dict compehrence:

In [33]:
b = {x:'even' if x%2==0 else 'odd' for x in range(1,11)}
print(b)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}

# Get only marks from dict:

In [39]:
student = {
  "name": "Emma",
   "class": 9,
    "marks": 75
                }
m = student.get('marks')
print(m)

75

# list of dict plus the all totelPremium in given list:

In [45]:
li = [{"name":"raja","totalPremium":4569},{"name":"raja","totalPremium":"4569"},
     {"name":"raja","totalPremium":4569.44},{"name":"raja","totalPremium":"4569.54"}]
li1 = []
for i in li:
    li1.append(float(i["totalPremium"]))
print(sum(li1))

18276.98

In [46]:
li = [{"name":"raja","totalPremium":4569},{"name":"raja","totalPremium":"4569"},
     {"name":"raja","totalPremium":4569.44},{"name":"raja","totalPremium":"4569.54"}]
li2 = []
for i in li:
    li2.append(float(i["totalPremium"]))
print(sum(li2))

18276.98

# sort the list without using sort() function:

In [47]:
a = [3,6,1,8,4,10]
for i in range(1, len(a)):
    while a[i-1] > a[i] and i>0:
        a[i-1],a[i] = a[i],a[i-1]
        i = i - 1
print(a)

[1, 3, 4, 6, 8, 10]

# pYnative question:

In [36]:
dic =  {'name': "afreen",'age': 21}  
x = dic.keys()
y = dic.values()
z = dic.copy()
a = dic.items()
b = dic.get('age')
c = dic.update({'age': 24})
print(x)
print(y)
print(z)
print(a)
print(b)
print(dic)

dict_keys(['name', 'age'])
dict_values(['afreen', 24])
{'name': 'afreen', 'age': 21}
dict_items([('name', 'afreen'), ('age', 24)])
21
{'name': 'afreen', 'age': 24}

In [ ]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

In [48]:
a ={
    "name": "zikra",
    "fname": "zikra",
    "year": 2012,
    "year": 2020
    
}
print(a["name"]) 
a["name"] = "misbah"
print(a)

zikra
{'name': 'misbah', 'fname': 'zikra', 'year': 2020}