 1.Write a Python function to find the Max of three numbers.

In [9]:
def larg(a,b,c):
    if a>b:
        if a>c:
            print(a, "is largest")
        else:
            print(c, "is lardest")
    else:
        if b>c:
            print(b, "is largest")
        else:
            print(c, "is largest")
                
a =int(input("anter the first number:"))  
b =int(input("anter the secnd number:")) 
c =int(input("anter the thrd number:"))
larg(a,b,c)

anter the first number:24
anter the secnd number:25
anter the thrd number:26
26 is largest

2.define a function that accepts 2 values and return its sum, subtraction and multiplication....

FROM USER :

In [36]:
def multi():
    a=int(input("enter the number:"))
    for i in range(1,11):
        b=a*i
        print(a,"*",i,"=",b) 
        
multi()

enter the number:6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [37]:
def add():
    a=int(input("enter the 1st number:"))
    b=int(input("enter the 2nd number:"))
    c=a+b
    print(c)
add()

enter the 1st number:4
enter the 2nd number:5
9

In [38]:
def subs():
    a=int(input("enter the 1st number:"))
    b=int(input("enter the 2nd number:"))
    c=a-b
    print(c)
subs()

enter the 1st number:5
enter the 2nd number:4
1

FUNCTTION:

In [41]:
def multi(a):
    for i in range(1,11):
        b=a*i
        print(a,"*",i,"=",b)         
multi(4)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [42]:
def add(a,b):
    c=a+b
    print(a,"+",b,"=",c)
add(4,5)

4 + 5 = 9

In [43]:
def subs(a,b):
    c=a-b
    print(a,"-",b,"=",c)
subs(10,4)

10 - 4 = 6

In [36]:
def function(a,b):
    add=a+b
    subt=a-b
    multi=a*b
    div=a//b
    print(a,"+",b,"=",add)
    print(a,"-",b,"=",subt)
    print(a,"*",b,"=",multi)
    print(a,"//",b,"=",div)
function(4,2)

4 + 2 = 6
4 - 2 = 2
4 * 2 = 8
4 // 2 = 2

In [39]:
y=int(input("enter the second numbar:"))
y=int(input("enter the second numbar:"))
print("this is the addition of two number:",x+y)

enter the second numbar:4
enter the second numbar:4
this is the addition of two number: 8

3.Write a Python function to multiply all the numbers in a list.

In [28]:
def multiply(mylist):
    result=1
    for x in mylist:
        result=result*x
        print(result)
multiply([2,3,4])

2
6
24

4.Write a Python function to calculate the factorial of a number (a non-negative integer). 
The function accepts the number as an argument

In [2]:
def fact(i):
    fac=1
    while(i>0):
        fac=fac*i
        i=i-1
        print(fac)
fact(5)

5
20
60
120
120

5.Write a Python function to create and print a list where
the values are square of numbers between 1 and 30 (both included).

In [1]:
def fun():
    square = [a**2 for a in range(1,31)]
    print(square) 
fun()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [2]:
square = [a**2 for a in range(1,31)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

6.Write a Python function that accepts a string and 
calculate the number of upper case letters and lower case letters

In [3]:
def fun(STR):
    n1=0
    n2=0
    for i in STR:                         
        if i.islower():
            n1=n1+1
        elif i.isupper():
            n2=n2+1
    print("lower letter in string:",n1)    
    print("upper letter in strint:",n2)
s = str(input("Enter the str:"))        
fun(s)

Enter the str:afreen
lower letter in string: 6
upper letter in strint: 0

7.Define a function that accepts roll number and returns whether the student is present or absent.

In [48]:
def rollno(a):
    
    list1=[1,2,3,4,5]
    if a in list1:
        print("student is present:")
    else:
        print("student is absent:")
a=int(input("Enter the rollno:"))        
rollno(a)

Enter the rollno:8
student is absent:

8.Define a function which counts vowels and consonant in a word.

In [24]:

a=input("Enter string:")
vowel=0
cons=0
for i in range(0,len(a)):
    if (a[i] !=' '):
        if(a[i]=='a' or a[i]=='e' or a[i]=='i' or a[i]=='o'
          or a[i]=='u' or a[i]=='A' or a[i]=='E' or a[i]=='I' 
          or a[i]=='O' or a[i]=='u '):
            vowel=vowel+1
        else:
            cons=cons+1
print("Totel Vowel:",vowel)
print("Totel Cons:",cons)

Enter string:afreen
Totel Vowel: 3
Totel Cons: 3

9.Define a function that accepts radius and returns the area of a circle.

In [42]:
radius =float(input('Enter the radiius of circle:'))
area = 3.14*radius*radius
print(area)

Enter the radiius of circle:4
50.24

In [41]:
def area(radius):
    a = 3.14*radius*radius
    return a
r = float(input("Enter radius of circle :"))
a=area(r)
print("Area of Circle is: ", a)

Enter radius of circle :10
Area of Circle is:  314.0

# Pynative Queastion:

In [3]:
student = {
  "name": "Emma",
  "class": 9,
  "marks": 75
}
m = student.get('marks')
print(m)

75

In [49]:
i = int(input("Enter the Number:"))
fac=1
while(i>0):
    fac=fac*i
    i=i-1
     
    print("factorial =",fac)

Enter the Number:5
factorial = 5
factorial = 20
factorial = 60
factorial = 120
factorial = 120

multiply list number take  user input:

defind function:

In [15]:
def multi(c):
    lists = [2,4,6,8]
    for i in lists:
        abc = c * i
        print(abc)    
multi(2)

4
8
12
16

take user input:

In [16]:
def multi():
    c = int(input("enter the no:"))
    lists = [2,4,6,8]
    for i in lists:
        abc = c * i
        print(abc)    
multi()

enter the no:4
8
16
24
32

# Strar print:

In [27]:
row = int(input("enter the row:"))

for i in range(row):       #  when i=5  i=0, i=1, i=2, i=3, i=4
    
    print(" " * i + "*" * (row-i))        #row se har baar ek i minus hoga.

enter the row:5
*****
 ****
  ***
   **
    *