In [20]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [2]:
salary = 8000

def printSalary():
    salary = 12000
    print("Salary:", salary)
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [21]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [ ]:
for x in range(0.5, 5.5, 0.5):
    print(x)

In [6]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [7]:
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

In [23]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [24]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [25]:
str = "pynative"
print (str[1:3])

yn

In [26]:
var= "James Bond"
print(var[2::-1])

maJ

In [2]:
x = 100
y = 50
print(x and y)

50

In [3]:
a = [10, 20]
b = a
b += [30, 40]
print(a)
print(b)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [4]:
x = 6
y = 2
print(x ** y)
print(x // y)

36
3

In [5]:
print(2 ** 3 ** 2)

512

In [9]:
x = 10
x = y += 2
print(x)

SyntaxError: invalid syntax (3352429616.py, line 2)

In [7]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [9]:
print(bool(3), bool(76), bool(-7), bool(1))

True True True True

In [10]:
print(2%6)

2

In [11]:
print(36 / 4)

9.0

In [12]:
print(10 - 4 * 2)

2

In [18]:
print(2 * 3 ** 3 * 4)

216

In [20]:
x = 10
y = 50
if x ** 2 > 100 and y < 100:
    print(x, y)

In [21]:
print(-18 // 4)

-5

In [22]:
a = 4
b = 11
print(a | b)
print(a >> 2)

15
1

In [27]:
print(type(0xFF))

<class 'int'>

In [28]:
print(type({}) is set)

False

In [33]:
str1 = str(Jessa)

NameError: name 'Jessa' is not defined

In [37]:
print(type([]) is list)

True

In [5]:
print((range(5)))

range(0, 5)

In [39]:
aTuple = (1, 'Jhon', 1+3j)
print(type(aTuple[2:3]))

<class 'tuple'>

In [40]:
print(type(10))

<class 'int'>

In [42]:
def func1():
    x = 50
    return x
func1()
print(x)

75

In [43]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [44]:
x = 50
def fun1():
    x = 25
    print(x)
    
fun1()
print(x)

25
50

In [11]:
a = [2,1,4,3,1,4,2]
for i in a :
    if i==3:
        print(3)

3

In [37]:
#  find out the unique count

a = [2,1,4,3,1,4,2]
for i in a:
    if a.count(i) == 1:
        print(i)

3

In [14]:
a = "Afreen manihar"
b = a.split()
print(b)

['Afreen', 'manihar']

In [15]:
a = 0
b = 1
print(a)
print(b)
for i in range(10):
    c = a + b
    a = b
    b = c
    print(c)

0
1
1
2
3
5
8
13
21
34
55
89